@import '~node_modules/modern-normalize/modern-normalize.css';

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (max-width: 767px) {
    min-width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
