.singin-modal {
  background-color: #fff;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.regInput {
  height: 30px;
  width: 200px;
}
