
{{#each listMovie}}
  <div class='card'>    
    <img class="card__image" src='https://image.tmdb.org/t/p/w500/{{poster_path}}' alt='' />
    <h1 class="card__title"> {{original_title}} </h1>
    
{{!-- {{lookup ../genresList "12"}} --}}


  
  {{#each genre_ids}}  
  {{lookup ../../genresList @this}}{{#unless @last}}, {{/unless}}
  {{/each}}
 
  </div>
{{/each}} 