{{#each this}}
  <div class='card'>    
    <img class="card__image"" src='https://image.tmdb.org/t/p/w500/{{poster_path}}' alt='' />
    <h1 class="card__title"> {{original_title}} </h1>
  </div>
{{/each}}