<div class="container header-section">
  <div class="menu">
    <div class="menu__logo">L</div>

    <ul class="menu__list">
      <li class="menu__item"><a class="menu__link active" href="">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="">My library</a></li>
      <li class="menu__item" id="singIn">Sing In</li>
    </ul>
  </div>
  <div class="search-form">
    <form class="search-form__form">
      <input
        class="search-form__input"
        type="text"
        placeholder="Movie search"
      />
      <button type="submit" class="search-form__button"></button>
    </form>
  </div>
</div>
